# URL do backend Rigfy (no Render em produção ou localhost em dev)
VITE_API_URL=http://localhost:8000

# Supabase
VITE_SUPABASE_URL=https://zoxzmbsuzycskzdfdspk.supabase.co
VITE_SUPABASE_ANON_KEY=sua_chave_anonima_supabase
