# ZenRows
ZENROWS_API_KEY=sua_key_aqui

# PostgreSQL
DATABASE_URL=postgresql+asyncpg://usuario:senha@localhost:5432/rigfy

# Scraper
SCRAPER_PAGES_PER_RUN=5
SCRAPER_DELAY_SECONDS=2
SCRAPER_SCHEDULE_HOUR=3
SCRAPER_SCHEDULE_MINUTE=0

# App
APP_ENV=development
LOG_LEVEL=INFO
